/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face{
    font-family: LibraryHeader;
    src: url(./Saturday\ Bright.woff);
}
@font-face{
    font-family: CardFont;
    src: url(./simplicity.ttf)
}
*{
    --library-color: #ffcbcb;
    --card-color: #ffb5b5;
    --sidebar-color: #407088;
    --header-color: #132743;

}

.topContainer{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 5fr;

}
.headerContainer{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1/2;
    z-index: 999;
    background-color: var(--header-color);
    box-shadow: 0px 10px 10px -7px var(--header-color);
    text-align: center;
}
.headerContainer>h1{
    font-family: LibraryHeader;
    font-size: 3.5rem;
    color: azure;
    padding-top: 40px;
 
}
#libraryContainer{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr; 
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    padding: 20px;
    gap: 10px;
    background-color: var(--card-color);
}
#libraryContainer>div{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    font-size: 1.5rem;
    color: var(--header-color);
    font-family: CardFont;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: var(--library-color);
    border-radius: 16px;
}
.sidebarContainer{
    display: grid;
    grid-row: 1/3;
    grid-column: 2/3;

    grid-template-rows: 150px 500px;
    background-color: var(--sidebar-color);
}
.sidebarContainer>h1{
    grid-row: 1/2;
    color: azure;
    font-size: 2rem;
    font-family: CardFont;
    text-align: center;
    padding-top: 20%;
    text-decoration: underline;
}
#addBookForm{
    grid-row: 2/3;
    display: grid;
    gap: 30px;
    padding: 10px;
    grid-template-rows: repeat(5,1fr);
    align-items: center;
    justify-items: center;
    color: azure;
    font-size: 1.5rem;
    font-family: CardFont;
}
#title,#titleLabel{
    grid-row: 1/2;
    
}
#author,#authorLabel{
    grid-row: 2/3;
    
}
#pages,#pagesLabel{
    grid-row: 3/4;
   
}
#read,#readLabel{
    grid-row: 4/5;
    
}
#addBook{
    grid-row: 5/6;
    grid-column: 1/2;
}
#removeAll{
    grid-row: 5/6;
    grid-column: 2/3;
}
#addBook, #removeAll{
   
    align-self: center;
    justify-self: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: CardFont;
}
